 <footer class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-column footer-about">
              <h3 class="footer-title">About Nauti Amigo</h3>
              <p class="footer-about-text">
                We are the biggest club in town Goa’s Luxury Premium Cruise Boat comes with the VVIP Lounge area, which offers the highest level of luxury & comfort.  
              </p>

              <div class="footer-language">
                <i class="lni ti-world"></i>
                <select onchange="location = this.value;">
                  <option value="https://nautiamigo.com/">English</option>
                  <option value="https://nautiamigo.com/">German</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-3 offset-md-1">
            <div class="footer-column footer-explore clearfix">
              <h3 class="footer-title">Explore</h3>
              <ul class="footer-explore-list list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-column footer-contact">
              <h3 class="footer-title">Contact</h3>
              <p class="footer-contact-text">
                123/1, MARINHA DOURADA RD, TAMUDKI VADO, ARPORA, BAGA, GOA - 403518
              </p>
              <div class="footer-contact-info">
                <p class="footer-contact-phone">
                  <span class="fas fa-phone"></span> 9324105081
                </p>
                <p class="footer-contact-mail">salesnautiamigo.com</p>
              </div>
              <div class="footer-about-social-list">
                <a href="#"><i class="ti-instagram"></i></a>
                <a href="#"><i class="ti-twitter"></i></a>
                <a href="#"><i class="ti-youtube"></i></a>
                <a href="#"><i class="ti-facebook"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      
    
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-bottom-inner">
              <p class="footer-bottom-copy-right">
                © Copyright 2025 by <a href="#">www.nautiamigo.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
   

    
<a href="tel:9324105081" class="footer-phone-icon" target="_blank" title="Call Us">
  <i class="fas fa-phone"></i>
</a>


<a href="https://wa.me/+919324105081" class="whatsapp-float" target="_blank" title="Chat on WhatsApp">
  <i class="fab fa-whatsapp"></i>
</a>

  </footer>