<nav class="navbar navbar-expand-lg" [class.transparent]="atTop">
  <div class="container">
    
    <div class="logo-wrapper">
      <a class="logo">
        <img src="../../../../assets/img/logo.png" class="logo-img" [alt]="logoAlt" />
      </a>
    </div>

    <button
      class="navbar-toggler phone-icon"
      type="button"
      data-bs-toggle="collapse"
      (click)="onPhoneClick()"
    >
      <p class="footer-contact-phone">
        <span class="flaticon-call header-phone-icon"></span>
      </p>
    </button>
    
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" [class.dropdown]="item.hasDropdown" *ngFor="let item of navigationItems">
          <a class="nav-link" [href]="item.href">{{ item.label }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
