<nav class="navbar navbar-expand-lg" [class.transparent]="transparent || isHero">
  <div class="container">
    
    <div class="logo-wrapper">
      <a class="logo">
        <img src="../../../../assets/img/logo.png" class="logo-img" alt="" />
      </a>
    </div>
    

    <button
      class="navbar-toggler phone-icon"
      type="button"
      data-bs-toggle="collapse"
      onclick="window.location.href='tel:9324105081'"
    >
      <p class="footer-contact-phone">
        <span class="flaticon-call header-phone-icon"></span>
      </p>
    </button>
    
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


