<section class="facilties section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-subtitle">NAUTI AMIGO Luxury Cruise</div>
          <div class="section-title">ADDITIONAL SERVICES</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let service of services; let i = index">
          <div 
            class="single-facility animate-box" 
            [style.animation-delay]="service.animationDelay + 'ms'"
            (mouseenter)="onServiceHover(service.id)"
          >
            <span [class]="service.icon"></span>
            <h5>{{ service.title }}</h5>
            <p>{{ service.description }}</p>
            <!-- <div class="facility-shape">
              <span [class]="service.icon"></span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>