<header class="header slider-fade">

  <!-- Swiper -->
  <div class="swiper hero-swiper">
    <div class="swiper-wrapper">
      
      <!-- Slide 1 -->
      <div class="swiper-slide">
        <div class="item bg-img img1 d-flex justify-content-center align-items-center" [attr.data-overlay-dark]="2" [style.backgroundImage]="'url(assets/img/slider/1.jpeg)'">
          <div class="slide-content text-center w-100">
            <div class="stars mb-4">
              <span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span>
            </div>
            <div class="slide-subtitle">EXPERIENCE THE LUXARY</div>
            <div class="slide-title">ENJOY A LUXARY EXPERIENCE</div>
            <a class="offer-btn" href="#" data-scroll-nav="1"><span>Our Offerings</span></a>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="swiper-slide">
        <div class="item bg-img img2 d-flex justify-content-center align-items-center" [attr.data-overlay-dark]="2" [style.backgroundImage]="'url(assets/img/slider/4.jpeg)'">
          <div class="slide-content text-center w-100">
            <div class="stars mb-4">
              <span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span>
            </div>
            <div class="slide-subtitle">UNIQUE PLACE TO RELAX AND ENJOY</div>
            <div class="slide-title">THE PERFECT BASE FOR YOU</div>
            <a class="offer-btn" href="#" data-scroll-nav="1"><span>Our Offerings</span></a>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="swiper-slide">
        <div class="item bg-img img3 d-flex justify-content-center align-items-center" [attr.data-overlay-dark]="3" [style.backgroundImage]="'url(assets/img/slider/6.jpeg)'">
          <div class="slide-content text-center w-100">
            <div class="stars mb-4">
              <span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span>
            </div>
            <div class="slide-subtitle">THE ULTIMATE LUXURY EXPERIENCE</div>
            <div class="slide-title">ENJOY THE BEST MOMENTS OF LIFE</div>
            <a class="offer-btn" href="#" data-scroll-nav="1"><span>Our Offerings</span></a>
          </div>
        </div>
      </div>

    </div>
    
    <!-- Navigation buttons -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <!-- slider reservation -->
  <div class="reservation">
    <a href="tel:9324105081">
      <div class="icon d-flex justify-content-center align-items-center">
        <i class="fas fa-phone"></i>
      </div>
      <div class="call"><span>932 410 5081</span> <br />Reservation</div>
    </a>
  </div>
  
</header>