<header class="site-header">
  <h1 class="brand-name">NAUTI AMIGO LUXURY CRUISE</h1>
  <h2 class="section-title">Our Packages</h2>
</header>

<div class="packages-section">
  <div class="packages-container">
    <div class="packages-row top">
      <div class="package-item" *ngFor="let package of topPackages">
        <img class="package-img" [src]="package.image" [alt]="package.name">
        <button class="book-button" >BOOK</button>
        <div class="package-overlay">
          <div class="package-price">{{ package.price }}</div>
          <div class="package-name">{{ package.name }}</div>
          <div class="package-line"></div>
          
          <div class="package-details">Details</div>
          
          <div class="package-icons" aria-hidden="false">
            <i class="fa-solid fa-utensils" aria-hidden="true" title="Dining"></i>
            <i class="fa-solid fa-cocktail" aria-hidden="true" title="Drinks"></i>
            <i class="fa-solid fa-music" aria-hidden="true" title="Music"></i>
            <i class="fa-solid fa-wifi" aria-hidden="true" title="Wi-Fi"></i>
          </div>

        </div>
      </div>
    </div>
    
    <div class="packages-row bottom">
      <div class="bottom-package-item" *ngFor="let package of bottomPackages">
        <img class="package-img" [src]="package.image" [alt]="package.name">
        
        <button class="book-button-bottom">BOOK</button>
        <div class="bottom-content">
        <div class="bottom-price">{{ package.price }}</div>
        <div class="bottom-title">{{ package.name }}</div>
      </div>
        <div class="bottom-line"></div>
        
        <div class="package-details">Details</div>
      </div>
    </div>
  </div>
</div>