<app-navbar></app-navbar>

<main>
  <app-hero-section></app-hero-section>
  <app-about-section></app-about-section>
  <app-packages-section></app-packages-section>
  <app-cruise-packages></app-cruise-packages>
  <app-events-section></app-events-section>
  <app-additional-services></app-additional-services>
  <app-testimonials></app-testimonials>
    <app-services-section></app-services-section>
  <!-- <app-booking-form></app-booking-form> -->
  <app-reservation-booking></app-reservation-booking>
  <router-outlet></router-outlet>
</main>


<app-footer></app-footer>
