<section class="about section-padding">
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 mb-30 animate-box"
          data-animate-effect="fadeInUp"
        >
        <div class="star-wrapper">
            <i class="star-rating"></i>
            <i class="star-rating"></i>
            <i class="star-rating"></i>
            <i class="star-rating"></i>
            <i class="star-rating"></i>
          </div>
          <div class="section-subtitle cruise-highlight">NAUTI AMIGO Luxury Cruise</div>
          <div class="section-title">Enjoy a Luxury Experience</div>
          <div class="barlow-description">

         
          <p>
            Embark on a journey of luxury and relaxation with NAUTI AMIGO, Goa’s premium cruise experience. Designed for those who appreciate the finer things in life, NAUTI AMIGO offers an unparalleled blend of comfort, entertainment, and scenic beauty along the mesmerizing Goan coastline.
          </p>
          <p>
           NAUTI AMIGO combines Goan charm with international standards of luxury, making it a must-try experience for locals and tourists alike. Whether you're seeking a romantic getaway, a memorable celebration, or a serene escape, this cruise offers something for everyone.
          </p>
        </div>
          <!-- call -->
          <div class="reservations">
            <div class="fas fa-phone-volume phone-icon"></div>
            <div class="icon"><span class="flaticon-call"></span>
        </div>
            <div class="text">
              <p>Reservation</p>
              <a href="tel:932-410-5081" class="phone-highlight">932 410 5081</a>
            </div>
          </div>
        </div>
        <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
          <img src="./assets/img/rooms/8.jpeg" alt="" class="mt-90 mb-30" />
        </div>
        <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
          <img src="./assets/img/rooms/2.jpeg" alt="" />
        </div>
      </div>
    </div>
  </section>