<section [class]="sectionClasses.wrapper">
  <div [class]="sectionClasses.container">
    
    <!-- Service Items Loop -->
    <div 
      [class]="sectionClasses.row" 
      *ngFor="let service of services; trackBy: trackByServiceId"
    >
      
      <!-- Image Column -->
      <div 
        [class]="service.cssClasses.imageCol"


        


        [attr.data-animate-effect]="service.layout.animationEffect.image"
      >
        <div [class]="service.cssClasses.imageWrapper">
          <a 
            [href]="service.image.link || '#'"
            (click)="onServiceImageClick(service)"
          >
            <img 
              [src]="service.image.src" 
              [alt]="service.image.alt" 
            />
          </a>
        </div>
      </div>

      <!-- Content Column -->
      <div 
        [class]="service.cssClasses.contentCol"
        [attr.data-animate-effect]="service.layout.animationEffect.content"
      >
        <div [class]="service.cssClasses.contentWrapper">
          <div [class]="sectionClasses.contentInner">
            
            <!-- Category -->
            <div [class]="sectionClasses.info">
              <h6 [class]="sectionClasses.categoryClass">
                {{ service.content.category }}
              </h6>
            </div>
            
            <!-- Title -->
            <h4 [class]="sectionClasses.titleClass">
              {{ service.content.title }}
            </h4>
            
            <!-- Description -->
            <p [class]="sectionClasses.descriptionClass">
              {{ service.content.description }}
            </p>
            
            <!-- Button -->
            <div [class]="sectionClasses.buttonWrapper">
              <a 
                [href]="service.content.buttonLink || '#'"
                (click)="onServiceButtonClick(service)"
              >
                <span>{{ service.content.buttonText }}</span>
              </a>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>

  </div>
</section>
