

<section class="services section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
          <div class="img left">
            <a href="#"><img src="../../assets/service-section-images/1.jpeg" alt="" /></a>
          </div>
        </div>
        <div class="col-md-6 p-0 bg-darkblack valign animate-box" data-animate-effect="fadeInRight">
          <div class="content">
            <div class="cont text-left">
              <div class="info">
                <h6 class="barlow-condensed">Discover</h6>
              </div>
              <h4 class="gilda-display">Nauti Amigo Cruise</h4>
              <p class="barlow-description">
                We take pride in being the biggest club in town! Goa's premier luxury cruise boat features a VVIP Lounge, offering unmatched comfort and exclusivity. Indulge in the ultimate luxury experience with private access to the most scenic views.
              </p>
              <div class="butn-dark">
                <a href="#"><span>Learn More</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 bg-darkblack p-0 order2 valign animate-box" data-animate-effect="fadeInLeft">
          <div class="content">
            <div class="cont text-left">
              <div class="info">
                <h6 class="barlow-condensed">Experiences</h6>
              </div>
              <h4 class="gilda-display">Open To Sky Lounge</h4>
              <p class="barlow-description">
                Our stunning vessel also boasts an Open-Air Dance Floor on the top deck, where you can groove beneath the starlit sky, surrounded by the serene beauty of the Mandovi River. Immerse yourself in an unforgettable evening filled with music, entertainment, and an enchanting open-air ambiance.
              </p>
              <div class="butn-dark">
                <a href="#"><span>Learn More</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0 order1 animate-box" data-animate-effect="fadeInRight">
          <div class="img">
            <a href="#"><img src="../../assets/service-section-images/3.jpeg" alt="" /></a>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
          <div class="img left">
            <a href="#"><img src="../../assets/service-section-images/2.jpg" alt="" /></a>
          </div>
        </div>
        <div class="col-md-6 p-0 bg-darkblack valign animate-box" data-animate-effect="fadeInRight">
          <div class="content">
            <div class="cont text-left">
              <div class="info">
                <h6 class="barlow-condensed">Modern</h6>
              </div>
              <h4 class="gilda-display">VVIP Lounge</h4>
              <p class="barlow-description">
                Discover unmatched luxury aboard Goa’s Premium Cruise with the exclusive VVIP Lounge. Indulge in supreme comfort, elegant interiors, and breathtaking views from the cruise’s most coveted spot. Whether relaxing with a drink or soaking in the serene Mandovi River, the VVIP Lounge redefines sophistication and exclusivity.
              </p>
              <div class="butn-dark">
                <a href="#"><span>Learn More</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 bg-darkblack p-0 order2 valign animate-box" data-animate-effect="fadeInLeft">
          <div class="content">
            <div class="cont text-left">
              <div class="info">
                <h6 class="barlow-condensed">Experiences</h6>
              </div>
              <h4 class="gilda-display">Food & Beverages</h4>
              <p class="barlow-description">
                The food and beverages at Nauti Amigo are truly exceptional! From delectable dishes to refreshing drinks, every bite and sip is crafted to perfection, offering a culinary experience that perfectly complements the luxury cruise ambiance.
              </p>
              <div class="butn-dark">
                <a href="#"><span>Learn More</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0 order1 animate-box" data-animate-effect="fadeInRight">
          <div class="img">
            <a href="#"><img src="../../assets/service-section-images/1a.jpeg" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  