.testimonials {
  text-align: center; /* center headings + quote */
  margin: 0 auto;
  max-width: 800px;
  min-height: 610px;
  height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  box-sizing: border-box;
}

.testimonial-content {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.5;
}

.testimonial-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
}

.author-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.author-details {
  text-align: left;
}

.rating {
  font-size: 18px;
  margin-bottom: 5px;
}
