<section class="testimonials">
  <div class="background section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="testimonials-box">
            <div class="head-box">
              <h6>TESTIMONIALS</h6>
              <h4>What Client's Say?</h4>
            </div>
            
            <swiper-container 
              class="testimonials-swiper"
              pagination="true"
              pagination-clickable="true"
              space-between="30"
              slides-per-view="1"
              loop="true"
              autoplay-delay="5000"
              autoplay-disable-on-interaction="false">
              
              <swiper-slide *ngFor="let testimonial of testimonials" class="testimonial-slide">
                <div class="item">
                  <div class="quote-mark">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M20 15C20 6.716 13.284 0 5 0v5c4.418 0 8 3.582 8 8v2h-3c-2.761 0-5 2.239-5 5v10c0 2.761 2.239 5 5 5h5c2.761 0 5-2.239 5-5V15zm25 0C45 6.716 38.284 0 30 0v5c4.418 0 8 3.582 8 8v2h-3c-2.761 0-5 2.239-5 5v10c0 2.761 2.239 5 5 5h5c2.761 0 5-2.239 5-5V15z" fill="currentColor" opacity="0.3"/>
                    </svg>
                  </div>
                  <div class="testimonial-content">
                    <p>{{ testimonial.quote }}</p>
                    <div class="rating">
                      <i 
                        *ngFor="let star of generateStars(testimonial.rating)" 
                        class="star-rating">
                      </i>
                    </div>
                  </div>
                  <div class="author-info">
                    <div class="author-img">
                      <img [src]="testimonial.image" [alt]="testimonial.name" />
                    </div>
                    <div class="cont">
                      <h6>{{ testimonial.name }}</h6>
                      <span>{{ testimonial.title }}</span>
                    </div>
                  </div>
                </div>
              </swiper-slide>
              
            </swiper-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>